// Add to simpleDemo/build.gradle (or your app module), inside android { }:
//
// signingConfigs {
//     release {
//         def p = rootProject.file('keystore.properties')
//         if (p.exists()) {
//             def props = new Properties()
//             p.withInputStream { props.load(it) }
//             storeFile file(props['storeFile'])
//             storePassword props['storePassword']
//             keyAlias props['keyAlias']
//             keyPassword props['keyPassword']
//         }
//     }
// }
// buildTypes {
//     release {
//         signingConfig signingConfigs.release
//     }
// }
